<button (click)="onClick()">Productos disponibles</button>
<input type="range" min="0" max="7" step="0.1" (input)="onInput($event)">
<select (change)="onChange($event)">
    <option value="todos">Todos los paises</option>
    <option *ngFor="let pais of paises" [value]="pais">
        {{pais | titlecase}}
    </option>
</select>

<div class="productos">
    <div class="producto" *ngFor="let prod of arrProds">
        <h3>{{prod.nombre}}</h3>
        <img [src]="prod.imagen" alt="">
        <p>Precio: {{prod.precio}}€</p>
        <p>Stock: {{prod.stock}}</p>
        <p>País de origen: {{prod.pais | titlecase}}</p>
    </div>
</div>

<!-- 
    - Método en el SERVICIO que filtre por país
    - Dentro del HTML de la lista, un select con todos los países
    - Cuando CAMBIE el SELECT recuperar los productos del país seleccionado
 -->