<h1>Lista de personajes</h1>
<hr>
<div class="personajes">
    <div class="personaje" *ngFor="let personaje of arrPersonajes" [ngClass]="{
        rojo: personaje.status === 'Dead',
        gris: personaje.status === 'unknown',
        verde: personaje.status === 'Alive'
    }">
        <h3>{{ personaje.name }}</h3>
        <img [src]="personaje.image" alt="">
        <p>Especie: {{personaje.species}}</p>
        <p>Género: {{personaje.gender}}</p>
        <p>Localización: {{personaje.location.name}}</p>
    </div>
</div>