<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="" class="form-label">Título</label>
        <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Creador</label>
        <input type="text" class="form-control" formControlName="creator">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Rating</label>
        <input type="text" class="form-control" formControlName="rating">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Fechas</label>
        <input type="text" class="form-control" formControlName="dates">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Imagen</label>
        <input type="text" class="form-control" formControlName="image">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Canal</label>
        <input type="text" class="form-control" formControlName="channel">
    </div>
    <input type="submit" value="Enviar">
</form>