<div class="container">
    <div class="row">
        <div class="col-8">
            <lista-productos titulo="comida" [productos]="arrComida" (seleccionarProducto)="onSeleccionarProducto($event)">
            </lista-productos>
            <lista-productos titulo="bebida" [productos]="arrBebida" (seleccionarProducto)="onSeleccionarProducto($event)">
            </lista-productos>
        </div>
        <div class="col-4">
            <app-comanda [seleccionados]="productosSeleccionados">
            </app-comanda>
        </div>
    </div>
</div>