.tarea{
    background-color: lightcoral;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 10px;
}

.completa{
    background-color: lightgreen;
}

.incompleta{
    background-color: lightcoral;
}